# Replace this URL with the exact URL to your YouTube Studio "Views by Content" Advanced Mode report page.
STUDIO_URL=https://studio.youtube.com/channel/UCu6IZtHGs6bsh5Hue0jAQsQ/analytics/tab-overview/period-default/explore?entity_type=CHANNEL&entity_id=UCu6IZtHGs6bsh5Hue0jAQsQ&time_period=lifetime&explore_type=TABLE_AND_CHART&metric=ESTIMATED_UNIQUE_VIEWERS&granularity=DAY&t_metrics=ESTIMATED_UNIQUE_VIEWERS&t_metrics=SUBSCRIBERS_GAINED&t_metrics=SUBSCRIBERS_LOST&t_metrics=EXTERNAL_VIEWS&t_metrics=EXTERNAL_WATCH_TIME&t_metrics=SUBSCRIBERS_NET_CHANGE&t_metrics=TOTAL_ESTIMATED_EARNINGS&t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS&t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS_VTR&dimension=VIDEO&o_column=ESTIMATED_UNIQUE_VIEWERS&o_direction=ANALYTICS_ORDER_DIRECTION_DESC

# Determine if the automated script should run headlessly (hidden) or not
HEADLESS=false
